.body {
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  padding: 0 32px;
}

.main-nav {
  width: 280px;
  transform: translateX(0);
  transition: transform .25s cubic-bezier(0.4,0.0,0.2,1);
}

.main-nav .list-group {
  border-bottom: 1px solid #ddd;
}

.main-nav .list-group-item {
  border: none
}
